@import 'schedule_styles.css';


.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;

    
}

.nav-card{
    width: 35%;
    height: auto;
    margin: 10px 20px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 10px var(--shadow-color);
    text-decoration: none;
    transition: all .3s;
}

.nav-card:hover{
    transform: translateY(-12px);
    box-shadow: 0 0 30px var(--shadow-color);
}

.nav-card p{
    color: var(--dark--blue)
}
.nav-card-title{
    font-size: 22px;
    border-bottom: 4px solid var(--red-divier);

}

.nav-card-desc{
    font-size: 18px;
}

.nav-card:hover > .nav-hint{
    color: var(--red-divier);
}

.nav-hint{
    text-align: center;
    transition: all .3s;
}